{% include 'due_date.jinja' %}
{% include 'trimester.jinja' %}
{% include 'verywell_family.jinja' %}
{% include 'fetus_size/calc.jinja' %}
{% include 'fetus_size/cravings.jinja' %}
{% include 'fetus_size/development.jinja' %}
{% include 'fetus_size/dude_dad.jinja' %}
{% include 'fetus_size/fruit.jinja' %}
{% include 'fetus_size/geeky.jinja' %}
{% include 'fetus_size/length.jinja' %}
{% include 'fetus_size/manly.jinja' %}
{% include 'fetus_size/weight.jinja' %}
