{% macro calc_due_date(last_period_entity_id) %}
{% set last_period_date = states(last_period_entity_id) | as_datetime %}
{% set due_date = last_period_date + timedelta(weeks=40) %}
{{ due_date.strftime('%Y-%m-%d') }}
{% endmacro %}

{% macro calc_fetus_size(week_entity_id, offset_entity_id) %}
{{ states(week_entity_id)|int + states(offset_entity_id)|int }}
{% endmacro %}

{% macro calc_trimester(week_entity_id) %}
{% set x = (states(week_entity_id) | int) %}
{{ 'First' if (x <= 12) else 'Second' if (x <= 28) else 'Third' }}
{% endmacro %}

## This calculates day of the week between 0 and 6, following U.S. healthcare standards.
{% macro calc_day_in_week(week_entity_id) %}
{{ states(week_entity_id) | int % 7 }}
{% endmacro %}
