{% macro get_size_detail(i) %}
{% set sizes = {
  4:  'a grain of table salt.',
  5:  'a Pop Rocks crystal.',
  6:  'a rainbow sprinkle.',
  7:  'a Tic Tac.',
  8:  'a peanut M&M.',
  9:  'a tater tot.',
  10: 'a Ferrero Rocher.',
  11: 'a donut hole.',
  12: 'a chicken nugget.',
  13: 'a scoop of ice cream.',
  14: 'an 8 oz filet mignon.',
  15: 'a cinnamon roll.',
  16: 'a can of pop, soda, soft drink, coke, or whatever you call it.',
  17: 'a large order of fries.',
  18: 'a tall, decaf, non-fat, Frappuccino with whipped cream and caramel drizzle.',
  19: 'a hot dog.',
  20: 'root beer.',
  21: 'a Chipotle burrito.',
  22: 'a bag of half a dozen bagels.',
  23: 'a box of Mac & Cheese.',
  24: 'a package of Oreos.',
  25: 'a popped bag of microwave popcorn.',
  26: 'a Double Gulp cup.',
  27: 'a big bottle of Sriracha.',
  28: 'a 1 pound basket of wings.',
  29: 'a 1 gallon jug of milk.',
  30: 'half of a large cheesecake from Cheesecake Factory.',
  31: 'an 11 lb (5 kg) jar of Nutella.',
  32: 'a mega Chupa Chups lollipop.',
  33: 'a store-bought loaf of sliced bread.',
  34: 'a large bag of potato chips.',
  35: 'a carton of one dozen eggs.',
  36: 'a footlong sub.',
  37: 'half a medium pizza.',
  38: 'a bucket of fried chicken.',
  39: 'a full rack of pork back ribs.',
  40: 'a 15 lb Thanksgiving turkey.'
} %}
{{ sizes[([4, i, 40]|sort)[1]] }}
{% endmacro %}
