{% macro get_size_detail(i) %}
{% set sizes = {
  4:  'a 20 grit grain on a sheet of sandpaper',
  5:  'the head on a common nail.',
  6:  'a 6-32 screw.',
  7:  'a dose of Viagra.',
  8:  'a cufflink.',
  9:  'a lug nut.',
  10: 'a poker chip.',
  11: 'a golf ball.',
  12: 'a scoop of protein powder.',
  13: 'a watch.',
  14: 'a stick shift knob.',
  15: 'a travel-size deodorant.',
  16: 'a duct tape cardboard roll.',
  17: 'a fist bump with a newborn.',
  18: 'a multi-tool.',
  19: 'a pair of sunglasses.',
  20: 'a fat stack of cash.',
  21: 'a rotary tool.',
  22: 'a standard hatchet head.',
  23: 'a can of WD-40.',
  24: 'a Philly cheesesteak.',
  25: 'the body of a facehugger.',
  26: 'a pair of work gloves.',
  27: 'a deflated basketball.',
  28: 'a baseball cap.',
  29: 'the skull of a T-800.',
  30: '3 stacked frozen TV dinners.',
  31: 'an American football.',
  32: 'a hard hat.',
  33: 'a US size 10 boat shoe.',
  34: 'a baseball glove',
  35: 'a 50 lb rubber hex dumbbell.',
  36: 'a power drill.',
  37: 'a 1980s brick phone.',
  38: 'a chopped firewood log.',
  39: 'a box of a dozen Krispy Kreme donuts.',
  40: 'a badass knights helmet.'
} %}
{{ sizes[([4, i, 40]|sort)[1]] }}
{% endmacro %}
