{% from 'calc.jinja' import 'calculate_size' %}
{{ calculate_size(4, {
  4: 'a BB.',
  5: 'a match head.',
  6: 'a kernel of popcorn.',
  7: 'a cheerio.',
  8: 'a 10mm socket.',
  9: 'a guitar pick.',
  10: 'a lug nut.',
  11: 'a condom.',
  12: 'a jumbo marshmallow.',
  13: 'a baseball.',
  14: 'a tape measure.',
  15: 'a beer can.',
  16: 'a grenade.',
  17: 'a bottle of sanitizer.',
  18: 'cup of coffee.',
  19: 'a fire alarm.',
  20: 'fresh roll of toilet paper.',
  21: 'a quart of oil.',
  22: 'a pound of ground beef.',
  23: 'Bose noise-canceling headphones.',
  24: 'concession-stand nachos.',
  25: 'a bowl of Olive Garden soup and breadsticks.',
  26: 'a baseball glove.',
  27: 'a gallon of paint.',
  28: 'a milk jug.',
  29: 'a human head.',
  30: 'a garbage disposal',
  31: 'a circular saw.',
  32: 'a football.',
  33: 'a car battery.',
  34: 'a largemouth bass.',
  35: 'a bicycle helmate.',
  36: 'a 6lb brisket.',
  37: 'a small, yippy dog.',
  38: 'a Playmate lunch cooler.',
  39: 'a Galápagos Penguine.',
  40: 'a toolbox.'
}) }}
