{% from 'calc' import 'calculate_size' %}
{{ calculate_size(4, {
  4: 'Less than 0.04 ounces',
  5: 'Less than 0.04 ounces',
  6: 'Less than 0.04 ounces',
  7: 'Less than 0.04 ounces',
  8: '0.04 ounces',
  9: '0.07 ounces',
  10: '0.14 ounces',
  11: '1/4 ounce',
  12: '1/2 ounce',
  13: '3/4 ounce',
  14: '1 1/2 ounces',
  15: '2 1/2 ounces',
  16: '3 1/2 ounces',
  17: '5 ounces',
  18: '6 3/4 ounces',
  19: '8 1/2 ounces',
  20: '10 1/2 ounces',
  21: '12 3/4 ounces',
  22: '15 ounces',
  23: '1 pound',
  24: '1 1/4 pounds',
  25: '1 1/4 pounds',
  26: '1 3/4 pounds',
  27: '2 pounds',
  28: '2 1/4 pounds',
  29: '2 1/2 pounds',
  30: '3 pounds',
  31: '3 1/4 pounds',
  32: '3 3/4 pounds',
  33: '4 1/3 pounds',
  34: '4 3/4 pounds',
  35: '5 1/4 pounds',
  36: '5 3/4 pounds',
  37: '6 1/2 pounds',
  38: '6 3/4 pounds',
  39: '7 1/4 pounds',
  40: '7 3/4 pounds'
}) }}
