{% macro get_size_detail(i) %}
{% set sizes = {
  4:  'a DIP switch toggle.',
  5:  'a Nerd.',
  6:  'a Battleship peg.',
  7:  'a face on a standard D20 die.',
  8:  'a blue pill or a red pill. You choose.',
  9:  'the One Ring.',
  10: 'a golden snitch.',
  11: 'a LEGO minifigure.',
  12: 'a Minecraft pixel.',
  13: 'an arc reactor.',
  14: 'an original 1977 Star Wars action figure.',
  15: 'SpongeBob SquarePants.',
  16: 'a can of SPAM.',
  17: 'the Holy Hand Grenade of Antioch.',
  18: 'a baby tribble.',
  19: 'an adipose.',
  20: 'a red Swingline stapler.',
  21: 'a dragon egg.',
  22: 'a Pip-Boy.',
  23: 'a fertility idol.',
  24: 'Mr. Burns teddy bear, Bobo.',
  25: 'the head of Thors hammer.',
  26: 'poor Yorik. A fellow of infinite jest, of most excellent fancy.',
  27: 'a pork pie hat.',
  28: 'a Nintendo.',
  29: 'Gizmo.',
  30: 'Kon.',
  31: 'a Compsognathus.',
  32: 'a deerstalker hat.',
  33: 'a fanny pack.',
  34: 'Tim.',
  35: 'BMO.',
  36: 'a 2L bottle of Mountain Dew.',
  37: 'a 1980s brick phone.',
  38: 'an Oscar statuette.',
  39: 'the body of a 4/4 violin.',
  40: 'Pikachu.'
} %}
{{ sizes[([4, i, 40]|sort)[1]] }}
{% endmacro %}
