{% from 'calc.jinja' import 'calculate_size' %}
{{ calculate_size(4, {
  4: "The rapidly dividing ball of cells — now known as a blastocyst — has begun to burrow into the uterine lining (endometrium). This process is called implantation.\n\nWithin the blastocyst, the inner group of cells will become the embryo. The outer layer will give rise to part of the placenta, which will nourish your baby throughout the pregnancy.",
  5: "The fifth week of pregnancy, or the third week after conception, the levels of HCG hormone produced by the blastocyst quickly increase. This signals your ovaries to stop releasing eggs and produce more estrogen and progesterone. Increased levels of these hormones stop your menstrual period, often the first sign of pregnancy, and fuel the growth of the placenta.\n\nThe embryo is now made of three layers. The top layer — the ectoderm — will give rise to your baby's outermost layer of skin, central and peripheral nervous systems, eyes, and inner ears.\n\nYour baby's heart and a primitive circulatory system will form in the middle layer of cells — the mesoderm. This layer of cells will also serve as the foundation for your baby's bones, ligaments, kidneys and much of the reproductive system.\n\nThe inner layer of cells — the endoderm — is where your baby's lungs and intestines will develop.", 
  6: "Growth is rapid this week. Just four weeks after conception, the neural tube along your baby's back is closing. The baby's brain and spinal cord will develop from the neural tube. The heart and other organs also are starting to form.\n\nStructures necessary to the formation of the eyes and ears develop. Small buds appear that will soon become arms. Your baby's body begins to take on a C-shaped curvature.", 
  7: "Seven weeks into your pregnancy, or five weeks after conception, your baby's brain and face are growing. Depressions that will give rise to nostrils become visible, and the beginnings of the retinas form.\n\nLower limb buds that will become legs appear and the arm buds that sprouted last week now take on the shape of paddles.", 
  8: "Eight weeks into your pregnancy, or six weeks after conception, your baby's lower limb buds take on the shape of paddles. Fingers have begun to form. Small swellings outlining the future shell-shaped parts of your baby's ears develop and the eyes become obvious. The upper lip and nose have formed. The trunk and neck begin to straighten.\n\nBy the end of this week, your baby might be about 1/2 inch (11 to 14 millimeters) long from crown to rump — about half the diameter of a U.S. quarter.", 
  9: "In the ninth week of pregnancy, or seven weeks after conception, your baby's arms grow and elbows appear. Toes are visible and eyelids form. Your baby's head is large but still has a poorly formed chin.\n\nBy the end of this week, your baby might be a little less than 3/4 inch (16 to 18 millimeters) long from crown to rump — the diameter of a U.S. penny.", 
  10: "By the 10th week of pregnancy, or eight weeks after conception, your baby's head has become more round.\n\nYour baby can now bend his or her elbows. Toes and fingers lose their webbing and become longer. The eyelids and external ears continue to develop. The umbilical cord is clearly visible.", 
  11: "At the beginning of the 11th week of pregnancy, or the ninth week after conception, your baby's head still makes up about half of its length. However, your baby's body is about to catch up.\n\nYour baby is now officially described as a fetus. This week your baby's face is broad, the eyes widely separated, the eyelids fused and the ears low set. Buds for future teeth appear. Red blood cells are beginning to form in your baby's liver. By the end of this week, your baby's external genitalia will start developing into a penis or a clitoris and labia majora.\n\nBy now your baby might measure about 2 inches (50 millimeters) long from crown to rump — the length of the short side of a credit card — and weigh almost 1/3 ounce (8 grams).", 
  12: "Twelve weeks into your pregnancy, or 10 weeks after conception, your baby is sprouting fingernails. Your baby's face now has taken on a more developed profile. His or her intestines are in the abdomen.\n\nBy now your baby might be about 2 1/2 inches (61 millimeters) long from crown to rump — the length of the short side of a U.S. bill — and weigh about 1/2 ounce (14 grams).", 
  13: "Welcome to the 2nd Trimester! Thirteen weeks into your pregnancy, or 11 weeks after conception, your baby is beginning to make urine and release it into the surrounding amniotic fluid. Your baby also swallows some amniotic fluid.\n\nBones are beginning to harden in your baby's skeleton, especially in the skull and long bones. Your baby's skin is still thin and transparent, but it will start to thicken soon.",
  14: "Fourteen weeks into your pregnancy, or 12 weeks after conception, your baby's neck has become more defined. Red blood cells are forming in your baby's spleen.\n\nYour baby's sex will become apparent this week or in the coming weeks.\n\nBy now your baby might be almost 3 1/2 inches (87 millimeters) long from crown to rump and weigh about 1 1/2 ounces (45 grams).", 
  15: "Fifteen weeks into your pregnancy, or 13 weeks after conception, your baby is growing rapidly. Bone development continues and will soon become visible on ultrasound images. Your baby's scalp hair pattern also is forming.", 
  16: "Sixteen weeks into your pregnancy, or 14 weeks after conception, your baby's head is erect. His or her eyes can slowly move. The ears are close to reaching their final position. Your baby's skin is getting thicker.\n\nYour baby's limb movements are becoming coordinated and can be detected during ultrasound exams. However, these movements are still too slight to be felt by you.\n\nBy now your baby might be more than 4 1/2 inches (120 millimeters) long from crown to rump and weigh close to 4 ounces (110 grams).", 
  17: "Seventeen weeks into your pregnancy, or 15 weeks after conception, toenails begin developing.\n\nYour baby is becoming more active in the amniotic sac, rolling and flipping. His or her heart is pumping about 100 pints of blood each day.", 
  18: "Eighteen weeks into your pregnancy, or 16 weeks after conception, your baby's ears begin to stand out on the sides of his or her head. Your baby might begin to hear sounds. The eyes are beginning to face forward. Your baby's digestive system has started working.\n\nBy now your baby might be 5 1/2 inches (140 millimeters) long from crown to rump and weigh 7 ounces (200 grams).",
  19: "Nineteen weeks into your pregnancy, or 17 weeks after conception, growth slows.\n\nA greasy, cheeselike coating called vernix caseosa begins to cover your baby. The vernix caseosa helps protect your baby's delicate skin from abrasions, chapping and hardening that can result from exposure to amniotic fluid.\n\nFor girls, the uterus and vaginal canal are forming.", 
  20: "Halfway into your pregnancy, or 18 weeks after conception, you might be able to feel your baby's movements (quickening). Your baby is regularly sleeping and waking. He or she might be awakened by noises or your movements.\n\nBy now your baby might be about 6 1/3 inches (160 millimeters) long from crown to rump and weigh more than 11 ounces (320 grams).", 
  21: "Twenty-one weeks into your pregnancy, or 19 weeks after conception, your baby is completely covered with a fine, downy hair called lanugo. The lanugo helps hold the vernix caseosa on the skin.\n\nThe sucking reflex also is developing, enabling your baby to suck his or her thumb.", 
  22: "Twenty-two weeks into your pregnancy, or 20 weeks after conception, your baby's eyebrows and hair are visible. Brown fat also is forming, the site of heat production.\n\nFor boys, the testes have begun to descend.\n\nBy now your baby might be 7 1/2 inches (190 millimeters) long from crown to rump and weigh about 1 pound (460 grams).",
  23: "Twenty-three weeks into your pregnancy, or 21 weeks after conception, your baby begins to have rapid eye movements. Ridges also form in the palms of the hands and soles of the feet that will later create the foundation for fingerprints and footprints.\n\nYour baby might begin hiccuping, causing jerking movements.", 
  24: "Twenty-four weeks into your pregnancy, or 22 weeks after conception, your baby's skin is wrinkled, translucent and pink to red because of visible blood in the capillaries.\n\nBy now your baby might be about 8 inches (210 millimeters) long from crown to rump and weigh more than 1 1/3 pounds (630 grams).", 
  25: "Twenty-five weeks into your pregnancy, or 23 weeks after conception, your baby might be able to respond to familiar sounds, such as your voice, with movement.\n\nYour baby is spending most of his or her sleep time in rapid eye movement (REM), when the eyes move rapidly even though the eyelids are closed.", 
  26: "Twenty-six weeks into your pregnancy, or 24 weeks after conception, your baby's lungs are beginning to produce surfactant, the substance that allows the air sacs in the lungs to inflate — and keeps them from collapsing and sticking together when they deflate.\n\nBy now your baby might be 9 inches (230 millimeters) long from crown to rump and weigh nearly 2 pounds (820 grams).", 
  27: "This week marks the end of the second trimester. At 27 weeks, or 25 weeks after conception, your baby's nervous system is continuing to mature. Your baby is also gaining fat, which will help his or her skin look smoother.",
  28: "Welcome to the 3rd Trimester! You're approaching the finish line! Twenty-eight weeks into your pregnancy, or 26 weeks after conception, your baby's eyelids can partially open and eyelashes have formed. The central nervous system can direct rhythmic breathing movements and control body temperature.\n\nBy now your baby might be nearly 10 inches (250 millimeters) long from crown to rump and weigh nearly 2 1/4 pounds (1,000 grams).", 
  29: "Twenty-nine weeks into your pregnancy, or 27 weeks after conception, your baby can kick, stretch and make grasping movements.", 
  30: "Thirty weeks into your pregnancy, or 28 weeks after conception, your baby's eyes can open wide. Your baby might have a good head of hair by this week. Red blood cells are forming in your baby's bone marrow.\n\nBy now your baby might be more than 10 1/2 inches (270 millimeters) long from crown to rump and weigh nearly 3 pounds (1,300 grams).", 
  31: "Thirty-one weeks into your pregnancy, or 29 weeks after conception, your baby has finished most of his or her major development. Now it's time to gain weight — quickly.",
  32: "Thirty-two weeks into your pregnancy, or 30 weeks after conception, your baby's toenails are visible.\n\nThe layer of soft, downy hair that has covered your baby's skin for the past few months (lanugo) starts to fall off this week.\n\nBy now your baby might be 11 inches (280 millimeters) long from crown to rump and weigh 3 3/4 pounds (1,700 grams).", 
  33: "Thirty-three weeks into your pregnancy, or 31 weeks after conception, your baby's pupils can change size in response to a stimulus caused by light. His or her bones are hardening. However, the skull remains soft and flexible.", 
  34: "Thirty-four weeks into your pregnancy, or 32 weeks after conception, your baby's fingernails have reached his or her fingertips.\n\nBy now your baby might be nearly 12 inches (300 millimeters) long from crown to rump and weigh more than 4 1/2 pounds (2,100 grams).", 
  35: "Thirty-five weeks into your pregnancy, or 33 weeks after conception, your baby's skin is becoming smooth. His or her limbs have a chubby appearance.",
  36: "Thirty-six weeks into your pregnancy, or 34 weeks after conception, the crowded conditions inside your uterus might make it harder for your baby to give you a punch. However, you'll probably still feel lots of stretches, rolls and wiggles.", 
  37: "Thirty-seven weeks into your pregnancy, or 35 weeks after conception, your baby has a firm grasp.\n\nTo prepare for birth, your baby's head might start descending into your pelvis. If your baby isn't head down, your health care provider will talk to you about ways to deal with this issue.", 
  38: "Thirty-eight weeks into your pregnancy, or 36 weeks after conception, the circumference of your baby's head and abdomen are about the same.\n\nYour baby's toenails have reached the tips of his or her toes. Your baby has mostly shed all of his or her lanugo.\n\nBy now your baby might weigh about 6 1/2 pounds (2,900 grams).", 
  39: "Thirty-nine weeks into your pregnancy, or 37 weeks after conception, your baby's chest is becoming more prominent. For boys, the testes continue to descend into the scrotum. Fat is being added all over your baby's body to keep him or her warm after birth.",
  40: "Congratulations! At forty weeks into your pregnancy, or 38 weeks after conception, you've reach the finish line! Your baby might have a crown-to-rump length of around 14 inches (360 millimeters) and weigh 7 1/2 pounds (3,400 grams). Remember, however, that healthy babies come in different sizes.\n\nDon't be alarmed if your due date comes and goes with no signs of labor starting. Your due date is simply a calculated estimate of when your pregnancy will be 40 weeks. It does not estimate when your baby will arrive. It's normal to give birth before or after your due date."
}) }}
