{% from 'calc.jinja' import 'calculate_size' %}
{{ calculate_size(4, {
  4: 'Poppy Seed',
  5: 'Orange Seed',
  6: 'Sweet Pea',
  7: 'Blueberry',
  8: 'Raspberry',
  9: 'Green Olive',
  10: 'Prune',
  11: 'Large Strawberry',
  12: 'Lime',
  13: 'Lemon',
  14: 'Navel Orange',
  15: 'Pear',
  16: 'Avocado',
  17: 'Large Onion',
  18: 'Cucumber',
  19: 'Mango',
  20: 'Sweet Potato',
  21: 'Large Banana',
  22: 'Red Bell Pepper',
  23: 'Grapefruit',
  24: 'Pomegranate',
  25: 'Eggplant',
  26: 'Acorn Squash',
  27: 'Cabbage',
  28: 'Head of Lettuce',
  29: 'Head of Cauliflower',
  30: 'Bunch of Broccoli',
  31: 'Coconut',
  32: 'Cantaloupe',
  33: 'Butternut Squash',
  34: 'Pineapple',
  35: 'Spaghetti Squash',
  36: 'Bunch of Kale',
  37: 'Canary Melon',
  38: 'Mini Watermelon',
  39: 'Honeydew Melon',
  40: 'Small Pumpkin',
  41: 'Pumpkin',
  42: 'Watermelon'
}) }}
